- content_for :stylesheets do
  #header_id { display: none }
%section.slice.background-people
  %br
  %br
  .wp-section
    .container
      .row
        .col-md-4.col-md-offset-2.col-sm-6.col-sm-offset-3
          .wp-block.default.user-form.entrepreneur-wp
            .form-header.center-align
              %h2 Change your password
              = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
                = f.hidden_field :reset_password_token
                .z-depth-1.grey.lighten-4.row{:style => "display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; width: 380px"}
                  .row
                    .input-field.col.s12
                      = f.label :password, 'New password'
                      %br/
                      - if @minimum_password_length
                        %em
                          (#{@minimum_password_length} characters minimum)
                        %br/
                      = f.password_field :password, autofocus: true, autocomplete: "off"
                    .input-field.col.s12
                      = f.label :password_confirmation, 'Confirm your new password'
                      %br/
                      = f.password_field :password_confirmation, autocomplete: "off"
                    .row
                      .actions
                        = f.submit 'Change my password', class: "col s12 btn btn-large indigo"